# This is Git's per-user configuration file.
[user]
	name = Jacob Patterson
	email = jacob@jacobpa.com
	signingkey = 44DA350F
[alias]
	ci = commit
	co = checkout
	pu = push
	pl = pull
	s = status
	l = log
	d = diff
